<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Job Scrapper</title>
</head>

<body>
    <main class="container">

        <hgroup>
            <h1>Search Results: {{keyword}}</h1>
            <!-- export button -->
            <a target="_blank" href="/export?keyword={{keyword}}"> Export to file</a>

        </hgroup>

        <!-- result table -->
        <figure>
            <table role="grid">
                <thead>
                    <tr>
                        <th> Position </th>
                        <th> Company </th>
                        <th> Location </th>
                        <th> Link </th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td>{{job['position']}}</td>
                        <td>{{job['company']}}</td>
                        <td>{{job['location']}}</td>
                        <td><a href="{{job['link']}}" target="_blank"> Apply Now &rarr;</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </figure>


    </main>
</body>


</html>


<!-- job_data = {
'link': f"https://weworkremotely.com/{link}",
'company': company.string,
'location': region.string,
'position': title.string
} -->